* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("../assets/side-wave_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #34495e;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1abc9c;
}

ul,
ol {
  list-style: none;
}
form {
  background: #ffffff;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

form h1 {
  text-align: center;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #333333;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #27a7c7;
  box-shadow: 0 0 4px rgba(157, 79, 160, 0.5);
}

form button {
  margin-bottom: 10px;
  width: 100%;
  padding: 12px;
  background: #4c00ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

form button:hover {
  background: #0063e5;
}
